html,
body,
#root {
  height: 100%;
}

.app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  flex: 1;
  min-height: 0;
}

.sidebar {
  width: 230px;
  min-height: calc(100vh - 56px);
}

.app-main {
  background-color: #f8fafc;
  overflow: auto;
}
